<h3>ShowInstitutions</h3>
@inject EduInfoDbContext _db

<!--Html code here -->

<div>
    @if (Institutions.Any())
    {
        @foreach (var org in Institutions)
        {
            <ul class="list-group">
                <li class="list-group-item">@org.ID</li>
                <li class="list-group-item">@org.Name</li>
                <li class="list-group-item">@org.Address</li>
            </ul>
            <br>
        }
    }
    else
    {
        <p>Loading...</p>
    }
</div>




<!-- C# code here -->
@code {

    public EduInfoPortalBlazor.Models.Institution[] Institutions { get; set; }

    protected override void OnInitialized()
    {
        Institutions = _db.Institutions.ToArray();
    }

}
